#back a{
  font-size: 1.5em;
  color: red;
}
#connexion{
  text-align: center;
  margin: 10px;
}

#register{
  text-align: center;
  margin: 10px;
}
.error{
  color: red;
  text-align: center;
  font-size: 1.5em;
}