body{
  background: url(/img/background-fight.jpg) rgba(0, 0, 0, 0.466) no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

#fight {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6em;
  color: white;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#continue-fight {
  padding: 20px;
  margin: 20px;
  
}
#continue-fight a{
  color: goldenrod;
}

#giveup-fight {
  padding: 20px;
  margin: 20px;
}
#giveup-fight a{
  color: goldenrod;
}

#end{
  font-size: 2em;
}
#end a{
  color: goldenrod;
}
#logo {
  margin-top: 200px;
}