body{
  background: url(/img/background-mycharacters.png) rgba(0, 0, 0, 0.582) no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

#back a{
  font-size: 1.5em;
  color: red;
}

h1.title{
  text-align: center;
  font-size: 3em;
  color: goldenrod;
}
#mycharacters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: white;
}
#characters-option{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#characters-option a{
  text-align: center;
  color: red;
  font-size: 1.2em;
}